<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>FoodSurfers</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1>Welcome to FoodSurfers!</h1>

		<p>Friendship and service, like no other.</p>

		<a href="/login" class="btn btn-primary">Sign In</a>
	</div>

</div>
</body>
</html>